# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
          type: 'separator'
    },
    {
      'label': 'bem-create: Create block'
      'command': 'atom-bem-create:create'
    },
    {
        type: 'separator'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [{
      'label': 'bem-create: Create block'
      'command': 'atom-bem-create:create'
    }]
  }
]
